
.vs/MyApp/v16/ipch/AutoPCH/b5b61254be76145d/MAIN.ipch
.vs/MyApp/v16/.suo
.vs/MyApp/v16/Browse.VC.db
.vs/MyApp/v16/Browse.VC.opendb
.vs/MyApp/v16/ipch/AutoPCH/2a6305014a375401/MAIN.ipch
.vs/MyApp/v16/ipch/AutoPCH/8f470a30358e92bd/WINDOWS.ipch
MyApp/x64/Client/client.obj
MyApp/x64/Client/Main.obj
MyApp/x64/Client/MyApp.log
MyApp/x64/Client/MyApp.tlog/CL.command.1.tlog
MyApp/x64/Client/MyApp.tlog/CL.read.1.tlog
MyApp/x64/Client/MyApp.tlog/CL.write.1.tlog
MyApp/x64/Client/MyApp.tlog/link.command.1.tlog
MyApp/x64/Client/MyApp.tlog/link.read.1.tlog
MyApp/x64/Client/MyApp.tlog/link.write.1.tlog
MyApp/x64/Client/MyApp.tlog/MyApp.lastbuildstate
MyApp/x64/Client/sclient.obj
MyApp/x64/Client/server.obj
MyApp/x64/Client/vc142.idb
MyApp/x64/Client/vc142.pdb
MyApp/x64/Client/Windows.obj
MyApp/x64/Server/client.obj
MyApp/x64/Server/Main.obj
MyApp/x64/Server/MyApp.log
MyApp/x64/Server/MyApp.tlog/CL.command.1.tlog
MyApp/x64/Server/MyApp.tlog/CL.read.1.tlog
MyApp/x64/Server/MyApp.tlog/CL.write.1.tlog
MyApp/x64/Server/MyApp.tlog/link.command.1.tlog
MyApp/x64/Server/MyApp.tlog/link.read.1.tlog
MyApp/x64/Server/MyApp.tlog/link.write.1.tlog
MyApp/x64/Server/MyApp.tlog/MyApp.lastbuildstate
MyApp/x64/Server/sclient.obj
MyApp/x64/Server/server.obj
MyApp/x64/Server/vc142.idb
MyApp/x64/Server/vc142.pdb
MyApp/x64/Server/Windows.obj
x64/Client/MyApp_Client.exe
x64/Client/MyApp_Client.ilk
x64/Client/MyApp_Client.pdb
x64/Server/MyApp_Server.exe
x64/Server/MyApp_Server.ilk
x64/Server/MyApp_Server.pdb
.vs/MyApp/v15/.suo
.vs/MyApp/v15/Browse.VC.db
.vs/MyApp/v15/ipch/AutoPCH/66cba1d4e2664b1/MAIN.ipch
MyApp/MyApp.vcxproj
MyApp/MyApp.vcxproj
MyApp/x64/Server/vc141.idb
MyApp/x64/Server/vc141.pdb
.vs/MyApp/v15/Browse.VC.opendb
MyApp/MyApp.vcxproj
MyApp/MyApp.vcxproj
